*html
*tar.gz
*.pdf
*.4tc
*.4ct
*.aux
*.log
*.lg
*.bbl
*.blg
*.css
*.idv
*.out
*.pdf
*.tmp
*.ilg
*.idx
*.ind
*.toc
*.xref
*.eps
*.ps
*.dvi
*.md
cool
uncool
public
tmp
tmp.*
template.*
documentation_write_readme.R.*

